<div class="fade-in">
  <div class="w-full d-flex  justify-content-end">
    <button class="ms-2 btn btn-secondary text-white " style="background-color: rgb(65, 120, 192);" (click)="cambiarVistaRegistro()">Agregar nuevo usuario</button>
  </div>
<c-card class="mb-4 mt-5 text-center">
<div class="fade-in">
  
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Tipo</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Fernando</td>
        <td>Alarcon</td>
        <td>Administrador</td>
        <td >
          <button class="ms-2 btn btn-secondary text-white" (click)="toggleLiveDemo()">Editar</button>
          <button class="ms-2 btn btn-danger text-white">Eliminar</button>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Nancy</td>
        <td>Bonilla</td>
        <td>Residente</td>
        <td >
          <button class="ms-2 btn btn-secondary text-white" (click)="toggleLiveDemo()">Editar</button>
          <button class="ms-2 btn btn-danger text-white">Eliminar</button>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Selvin</td>
        <td>Medina</td>
        <td>Guardia</td>
        <td >
          <button class="ms-2 btn btn-secondary text-white" (click)="toggleLiveDemo()">Editar</button>
          <button class="ms-2 btn btn-danger text-white">Eliminar</button>
        </td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Javier</td>
        <td>Sanchez</td>
        <td>Auditor</td>
        <td >
          <button class="ms-2 btn btn-secondary text-white" (click)="toggleLiveDemo()">Editar</button>
          <button class="ms-2 btn btn-danger text-white">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>


  
</div>
</c-card >
</div>


<app-usuarios-form  ></app-usuarios-form>
