<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="6">
        <span class="clearfix">
          <h1 class="float-start display-3 me-4">No autorizado</h1>
          <h4 class="pt-3">Houston, we have a problem!</h4>
          <p class="text-medium-emphasis float-start">
            La página que intentas acceder no está disponible para tu usuario.
          </p>
        </span>
      </c-col>
    </c-row>
  </c-container>
</div>
