<div class="fade-in">
  <c-card class="mb-4">
    <c-card-header>
<div class="fade-in">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id Solicitud</th>
        <th scope="col">Visita</th>
        <th scope="col">Descripcion</th>
        <th scope="col">hora de llegada</th>
        <th scope="col">hora de Salida</th>
        <th scope="col">Tipo de Transaporte</th>
        <th scope="col">no de placa</th>
        <th scope="col"> Aprobada? </th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Liberty Networks</td>
        <td>Escuadrilla</td>
        <td>10:00 am</td>
        <td>01:00 pm</td>
        <td>Auto</td>
        <td>--</td>
        <td>PENDIENTE</td>
        <td >
          <button class="ms-2 btn  text-white" style="background-color: rgb(71, 100, 179);">Marcar llegada</button>
          <button class="ms-2 btn btn-danger text-white">Eliminar</button>
        </td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Sycom</td>
        <td>Proveedor</td>
        <td>10:00 am</td>
        <td>01:00 pm</td>
        <td>Auto</td>
        <td>1231234</td>
        <td>APROBADA</td>
        <td >
          <button class="ms-2 btn  text-white" style="background-color: rgb(131, 131, 25);">Marcar Salida</button>
          <button class="ms-2 btn btn-danger text-white">Eliminar</button>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Acosa</td>
        <td>Vendedor</td>
        <td>10:00 am </td>
        <td>01:00 pm </td>
        <td>Auto</td>
        <td>12312434</td>
        <td>DENEGADA</td>
        <td >
          <button class="ms-2 btn  text-white" style="background-color: rgb(71, 100, 179);">Marcar llegada</button>
          <button class="ms-2 btn btn-danger text-white">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>


  
</div>
</c-card-header>
  </c-card>
</div>

