<div class="fade-in">
  <c-card class="mb-4">
    <c-card-header>
<div class="fade-in">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id Solicitud</th>
        <th scope="col">Visita</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Tipo de Transaporte</th>
        <th scope="col">hora de llegada</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Fernando Alarcon</td>
        <td>Jefe de IT</td>
        <td>Carro</td>
        <td>--</td>
        <td >
          <button class="ms-2 btn btn-success text-white">Marcar llegada</button>
          <button class="ms-2 btn btn-danger text-white">Eliminar</button>
        </td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Nancy Bonilla</td>
        <td>Supervisora </td>
        <td>Carro</td>
        <td>09:45 am</td>
        <td >
          <button class="ms-2 btn btn-warning text-white">Marcar Salida</button>
          <button class="ms-2 btn btn-danger text-white">Eliminar</button>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Selvin Medina</td>
        <td>Vendedor de Servidores</td>
        <td>Moto</td>
        <td></td>
        <td >
          <button class="ms-2 btn btn-success text-white">Marcar llegada</button>
          <button class="ms-2 btn btn-danger text-white">Eliminar</button>
        </td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Javier Sanchez</td>
        <td>IT</td>
        <td>Carro</td>
        <td></td>
        <td >
          <button class="ms-2 btn btn-success text-white">Marcar llegada</button>
          <button class="ms-2 btn btn-danger text-white">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>


  
</div>
</c-card-header>
  </c-card>
</div>

