<div class="fade-in">
  <c-card class="mb-4">
    <c-card-header>
<div class="fade-in">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id Solicitud</th>
        <th scope="col">Visita</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Tipo de Transaporte</th>
        <th scope="col">hora de llegada</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark y hijos</td>
        <td>Primos </td>
        <td>Auto</td>
        <td>--</td>
        <td >
          <button class="ms-2 btn btn-success text-white">Marcar llegada</button>
          <button class="ms-2 btn btn-danger text-white">Eliminar</button>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Larry</td>
        <td>Amigo </td>
        <td>Moto</td>
        <td>09:45 am</td>
        <td >
          <button class="ms-2 btn btn-warning text-white">Marcar Salida</button>
          <button class="ms-2 btn btn-danger text-white">Eliminar</button>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Thornton</td>
        <td>Vendedor ambulante</td>
        <td>Bicicleta</td>
        <td></td>
        <td >
          <button class="ms-2 btn btn-success text-white">Marcar llegada</button>
          <button class="ms-2 btn btn-danger text-white">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>


  
</div>
</c-card-header>
  </c-card>
</div>

