<c-row ngPreserveWhitespaces>
  <h1>Roles</h1>
  <small>Breve descripcion de los roles del sistema.</small>
  <c-col xs="12">
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4 mt-4" id="AngularButton">
      <c-card-header>
        <strong>Administrador</strong>
      </c-card-header>
      <c-card-body>
        <p class="text-medium-emphasis small ">
          Usuario que puede alterar todo el sistema sin ninguna restricción.
        </p>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4" id="AngularButtonWithIcons">
      <c-card-header>
        <strong>Residente</strong>
      </c-card-header>
      <c-card-body>
        <p class="text-medium-emphasis small ">
          Usuario que puede agendar las visitas a su local.
        </p>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4" id="AngularButtonWithIcons">
      <c-card-header>
        <strong>Guardia</strong>
      </c-card-header>
      <c-card-body>
        <p class="text-medium-emphasis small ">
          Usuario que puede ver todas las visitas agendadas en el sistema/
        </p>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
