<div class="fade-in">
  <c-card class="mb-4">
    <c-card-header>
      Control de Visitas
    </c-card-header>
<div class="fade-in text-center">
  <table class="table ">
    <thead>
      <tr>
        <th scope="col">Id solicitud</th>
        <th scope="col">Visita</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Hora de llegada</th>
        <th scope="col">Hora de salida</th>
        <th scope="col">Tipo de transaporte</th>
        <th scope="col">N° de placa</th>
        <th scope="col"> Aprobada? </th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody class="">
      
      <tr *ngFor="let item of Visitas; let i = index" >
        <th scope="row">{{item.id}}</th>
        <td>{{item.visita.join(',')}}</td>
        <td>{{item.Descripcion}}</td>
        <td>{{item?.horallegada?.toDateString()}}</td>
        <td>{{item?.horasalida?.toDateString()}}</td>
        <td>{{item.tipotransporte}}</td>
        <td>{{item.placa}}</td>
        <td>{{item.aprobada }}
        <td class="flex h-2/6 justify-center items-center">

 
          <c-dropdown>
            <button cButton cDropdownToggle color="secondary" class="bg-slate-400 p-2 text-white rounded-md">
              Opciones
            </button>
            <ul cDropdownMenu>
              <button [hidden]="!(item.SalidaTemporal && item.Ingreso)"   class="dropdown-item  " >Marcar llegada temporal</button>
              <button [hidden]="!(!item.SalidaTemporal && item.Ingreso)" (click)="AgregarSalidaTemporal(i)"  class="dropdown-item  " >Marcar salida temporal</button>
              <button [hidden]="item.Ingreso"                             class="dropdown-item  ">Marcar llegada</button>
              <button [hidden]="!item.Ingreso"                            class="dropdown-item  ">Marcar salida</button>
              <button class="dropdown-item" (click)="eliminarAviso(i )">Eliminar</button>
            </ul>
          </c-dropdown>
          
        </td>
      </tr>
    </tbody>
  </table>


 

  
</div>
  </c-card>



<c-card >
  <c-card-header>
    Salidas Temporales
  </c-card-header>

  <table class="table mt-6  px-5 text-center">
    <thead>
      <tr>
        <th scope="col">Id Solicitud</th>
        <th scope="col">Salida Temporal</th>
        <th scope="col">Retorno Temporal</th>
      </tr>
    </thead>
    <tbody class="">
      
      <tr *ngFor="let item of SalidaTemporal" >
        <td>{{item.id}}</td>
        <td>{{item?.fechaSalida?.toDateString()}}</td>
        <td>{{item?.fechaEntrada?.toDateString()}}</td>
      </tr>
    </tbody>
  </table>

</c-card>

</div>

