<div class="fade-in">
  <c-card class="mb-4">
    <c-card-header>Control de Visitas</c-card-header>
    <div class="fade-in text-center">
      <table striped cTable class="table">
        <thead>
          <tr>
            <th scope="col">Visita Id</th>
            <th scope="col">Fecha Entrada</th>
            <th scope="col">Fecha Salida</th>
            <th scope="col">Estado</th>
            <th scope="col">Comentarios</th>
            <th scope="col">Comentarios Persona que Recibe</th>
            <th scope="col">Transporte</th>
            <th scope="col">Detalle Visita</th>
            <th scope="col">Acciones</th> <!-- Nueva columna para acciones -->
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let visita of visitas; let i = index">
            <!-- Fila de información principal de la visita -->
            <tr>
              <td>{{ visita.id }}</td>
              <td>{{ visita.fechaEntrada }}</td>
              <td>{{ visita.fechaSalida }}</td>
              <td>{{ visita.estado }}</td>
              <td>{{ visita.comentarios }}</td>
              <td>{{ visita.comentarioPersonaQueRecibe }}</td>
              <td>
                <!-- Concatenar detalles de transporte en una lista -->
                <ul>
                  <li *ngFor="let transporte of visita.asignacionesTransporte">
                    {{ transporte.placa }} - {{ transporte.color }}
                  </li>
                </ul>
              </td>
              <td>
                <!-- Concatenar detalles de visita en una lista -->
                <ul>
                  <li *ngFor="let detalleVisita of visita.detalleVisita">
                    {{ detalleVisita.nombre }} {{ detalleVisita.apellido }}
                  </li>
                </ul>
              </td>
              <td>
                <!-- Botones de acción -->
                <button class="btn btn-primary btn-sm" (click)="marcarEntrada(visita.id)" *ngIf="!visita.fechaEntrada">Marcar Entrada</button>
                <button class="btn btn-secondary btn-sm" (click)="registrarSalida(visita.id)" *ngIf="visita.fechaEntrada && !visita.fechaSalida">Registrar Salida</button>
                <button class="btn btn-danger btn-sm" (click)="eliminarVisita(visita.id)">Eliminar</button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </c-card>
</div>
