<c-row ngPreserveWhitespaces>
  <c-col xs="12"> </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Notifica una visita</strong>
      </c-card-header>
      <c-card-body class="d-flex flex-wrap">
        <form [formGroup]="formulario" class="w-100">
          <!-- Fieldset para detalles de visita (Personas) -->
          <fieldset
            formArrayName="detallesVisita"
            class="mb-4 p-3 border rounded"
          >
            <legend class="text-base fw-bold mb-3">Personas</legend>
            <div
              class="flex md:flex-row md:gap-10 flex-col"
              formGroupName="{{ i }}"
              *ngFor="
                let visitante of formularioVisitantes.controls;
                let i = index
              "
            >
              <!-- Nombre -->
              <div class="w-full md:w-50">
                <label cLabel class="me-2" for="nombre{{ i }}">Nombre:</label>
                <input
                  cFormControl
                  class="form-control"
                  id="nombre{{ i }}"
                  formControlName="nombre"
                  placeholder="Nombre"
                  type="text"
                  [class.is-invalid]="
                    visitante.get('nombre')?.invalid &&
                    visitante.get('nombre')?.touched
                  "
                />
                <div
                  *ngIf="
                    visitante.get('nombre')?.invalid &&
                    visitante.get('nombre')?.touched
                  "
                  class="invalid-feedback"
                >
                  Nombre es requerido.
                </div>
              </div>
              <!-- Apellido -->
              <div class="w-full md:w-50">
                <label cLabel class="me-2" for="apellido{{ i }}"
                  >Apellido:</label
                >
                <input
                  cFormControl
                  class="form-control"
                  id="apellido{{ i }}"
                  formControlName="apellido"
                  placeholder="Apellido"
                  type="text"
                  [class.is-invalid]="
                    visitante.get('apellido')?.invalid &&
                    visitante.get('apellido')?.touched
                  "
                />
                <div
                  *ngIf="
                    visitante.get('apellido')?.invalid &&
                    visitante.get('apellido')?.touched
                  "
                  class="invalid-feedback"
                >
                  Apellido es requerido.
                </div>
              </div>

              <!-- Identidad -->
              <div class="w-full md:w-50">
                <label cLabel class="me-2" for="identidad{{ i }}"
                  >Identidad:</label
                >
                <input
                  cFormControl
                  class="form-control"
                  id="identidad{{ i }}"
                  formControlName="identidad"
                  placeholder="Identidad"
                  type="text"
                  [class.is-invalid]="
                    visitante.get('identidad')?.invalid &&
                    visitante.get('identidad')?.touched
                  "
                />
                <div
                  *ngIf="
                    visitante.get('identidad')?.invalid &&
                    visitante.get('identidad')?.touched
                  "
                  class="invalid-feedback"
                >
                  Identidad es requerida y debe ser numérica.
                </div>
              </div>

              <button
                [hidden]="i == 0"
                class="text-white mt-4 bg-red-400 p-2 px-4 rounded flex justify-center items-center"
                (click)="removerInputIdentidad(i)"
              >
                X
              </button>
              <button
                disabled
                [hidden]="!(i == 0)"
                class="invisible text-white mt-4 bg-red-400 p-2 px-4 rounded flex justify-center items-center"
                (click)="removerInputIdentidad(i)"
              >
                X
              </button>
            </div>

            <div class="w-full justify-end items-end flex mt-2">
              <button
                type="button"
                class="p-2 bg-[#52a183] border-none text-sm hover:bg-[#3b755f] text-white rounded-md"
                (click)="agregarInputVisitante()"
              >
                Personal ++
              </button>
            </div>
          </fieldset>

          <!-- Fieldset para asignaciones de transporte -->
          <fieldset
            formArrayName="asignacionesTransporte"
            class="mb-4 p-3 border rounded"
          >
            <legend class="text-base fw-bold mb-3">Transportes</legend>

            <div
              class="flex md:flex-row md:gap-10 flex-col"
              [formGroupName]="i"
              *ngFor="
                let fields of formularioTransporte.controls;
                let i = index
              "
            >
              <div class="w-full md:w-50">
                <label cLabel for="tipoTransporte{{ i }}"
                  >Tipo de Transporte</label
                >
                <select
                  formControlName="tipoTransporteId"
                  id="tipoTransporte{{ i }}"
                  cSelect
                  class="form-control"
                  [class.is-invalid]="
                    fields.get('tipoTransporteId')?.invalid &&
                    fields.get('tipoTransporteId')?.touched
                  "
                >
                  <option value="">Seleccione un tipo</option>
                  <option
                    *ngFor="let tipo of tiposDeTransporte"
                    [value]="tipo.id"
                  >
                    {{ tipo.nombre }}
                  </option>
                </select>
                <div
                  *ngIf="
                    fields.get('tipoTransporteId')?.invalid &&
                    fields.get('tipoTransporteId')?.touched
                  "
                  class="invalid-feedback"
                >
                  Por favor, seleccione un tipo de transporte.
                </div>
              </div>

              <div class="w-full md:w-50">
                <label for="placa{{ i }}">Placa:</label>
                <input
                  type="text"
                  cFormControl
                  class="form-control"
                  id="placa{{ i }}"
                  formControlName="placa"
                  [class.is-invalid]="
                    fields.get('placa')?.invalid && fields.get('placa')?.touched
                  "
                />
                <div
                  *ngIf="
                    fields.get('placa')?.invalid && fields.get('placa')?.touched
                  "
                  class="invalid-feedback"
                >
                  Placa es requerida y debe ser alfanumérica.
                </div>
              </div>

              <div class="w-full md:w-50">
                <label for="color{{ i }}">Color:</label>
                <input
                  type="text"
                  cFormControl
                  class="form-control"
                  id="color{{ i }}"
                  formControlName="color"
                  [class.is-invalid]="
                    fields.get('color')?.invalid && fields.get('color')?.touched
                  "
                />
                <div
                  *ngIf="
                    fields.get('color')?.invalid && fields.get('color')?.touched
                  "
                  class="invalid-feedback"
                >
                  Color es requerido.
                </div>
              </div>

              <button
                [hidden]="i == 0"
                class="text-white mt-4 bg-red-400 p-2 px-4 rounded flex justify-center items-center"
                (click)="removerInputTransporte(i)"
              >
                X
              </button>
            </div>
          </fieldset>

          <div class="w-full justify-end items-end flex mt-2">
            <button
              type="button"
              class="p-2 bg-[#f0974f] border-none text-sm hover:bg-[#aa6c39] text-white rounded-md"
              (click)="agregarInputTransporte()"
            >
              Transaporte ++
            </button>
          </div>

          <div class="mt-2">
            <label cLabel for="comentarios" class="mt-3"
              >Comentario adicional:</label
            >
            <textarea
              cFormControl
              class="form-control"
              id="comentarios"
              formControlName="comentarios"
              [class.is-invalid]="
                formulario.get('comentarios')?.invalid &&
                formulario.get('comentarios')?.touched
              "
              placeholder="Ingrese un comentario"
            ></textarea>
            <div
              *ngIf="
                formulario.get('comentarios')?.invalid &&
                formulario.get('comentarios')?.touched
              "
              class="invalid-feedback"
            >
              El comentario es requerido.
            </div>
          </div>

          <button
            class="btn btn-primary mt-3 bg-green-700 border-none"
            type="button"
            (click)="notificarVisita()"
          >
            Notificar Visita
          </button>
        </form>

        <div class="row mt-3">
          <div class="col-lg-6 mx-auto">
            <img
              class="w-100 rounded-5"
              src="assets/img/personal/agendarCitas.jpg"
              alt="Agendar Citas"
            />
          </div>
        </div>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
